.sobremi-seccion {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    color: var(--color-cuarto);
}

.sobremi-parrafo {
    font-size: 1.4rem;
}

.sobremi-habilidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.habilidades-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #0606066b;
    padding: 1.5rem;
    border-radius: 10px;
}

.habilidades-imagen {
    width: 45px;
    height: 45px; 
}

.habilidades-titulo {
    font-size: 1rem;
    user-select: none;
}


@media (max-width: 767px) {
  
    .sobremi-habilidades {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }

    .habilidades-card:last-child {
        grid-column: span 2;
    }

    .sobremi-parrafo {
        font-size: 1.2rem;
    }
  }