.header {
    background-color: var(--color-secundario);
    border-bottom: 1px solid var(--color-cuarto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-nav {
    display: flex;
    gap: 30px;
}

.header-nav a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--color-cuarto);
}

.header-etiqueta {
    cursor: pointer;
}

.header-nav a:hover {
    color: var(--color-terciario);
}

.header-etiqueta::before {
    content: '<';
    color: gray;
    transition: .3s;
}
  
.header-etiqueta::after {
    content: '/>';
    color: gray;
    transition: .3s;
}
  
.header-etiqueta:hover::before {
    margin-right: 10px;
    color: var(--color-cuarto);
}
  
.header-etiqueta:hover::after {
    margin-left: 10px;
    color: var(--color-cuarto);
}

.header-idiomafondo {
    display: flex;
    gap: 15px;
}

.bi-translate,
.bi-moon-stars-fill,
.bi-sun-fill {
    color: var(--color-cuarto);
    font-size: 1.2rem;
    cursor: pointer;
}

.bi-translate:hover, 
.bi-moon-stars-fill:hover,
.bi-sun-fill:hover {
    color: var(--color-terciario);
}


@media screen and (width >= 768px) {

    .header-menu {
        display: none;
    }
}

@media screen and (width <= 768px) {

    .header-nav {
        display: none;
    }

    .header-menu {
        z-index: 100;
    }

    .header-nav.active {        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        border-right: 1px solid var(--color-cuarto);
        background-color: var(--color-quinto);

    }

    .header {

        background-color: var(--color-quinto);
        border-bottom: 1px solid var(--color-cuarto);
    }


    .header-nav a {
        display: block;
    }
}