.perfil-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 1000px;
    margin: auto;
} 

.perfil-figure {
    padding: .5rem;
    background-color: var(--color-terciario);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.perfil-foto {
    width: 220px;
    height: 300px;
    border-radius: 10px;
}

.perfil-datos {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 20px;
    color: var(--color-cuarto);
    height: 320px;
}

.manito {
    animation-name: manito-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    user-select: none;
}

.perfil-nombre {
    font-size: 3.5rem;
}

.perfil-carrera {
    color: var(--color-terciario);
    font-size: 2.5rem;
}

.perfil-descripcion {
    font-size: 1.4rem;
}

.contacto-enlaces {
    margin-top: 1rem;
}

@keyframes manito-animation {
    0% {
        transform: rotate( 0.0deg);
    }
    10% {
        transform: rotate(14.0deg);
    }
    20% {
        transform: rotate(-8.0deg);
    }
    30% {
        transform: rotate(14.0deg);
    }
    40% {
        transform: rotate(-4.0deg);
    }
    50% {
        transform: rotate(10.0deg);
    }
    60% {
        transform: rotate( 0.0deg);
    }
    100% {
        transform: rotate( 0.0deg);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .perfil-seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .perfil-nombre {
        font-size: 3rem;
    }

    .perfil-carrera {
        font-size: 2.5rem;
    }

}

@media (max-width: 767px) {
    
    .perfil-seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .perfil-nombre{
        font-size: 1.9rem;
    }

    .perfil-carrera {
        font-size: 1.7rem;
    }

    .perfil-descripcion {
        font-size: 1.2rem;
    }
}

