@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --color-primario: #222222;
  --color-secundario: #1c1c1cA8;
  --color-terciario: #4D7BE6;
  --color-cuarto: #FFFFFF;
  --color-quinto: #1c1c1c;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--color-primario);
}

.etiqueta-abrir {
  font-size: 3.5rem;
}

.etiqueta-abrir::before {
  content: '<';
  color: gray;
  transition: 1s;
}

.etiqueta-abrir::after {
  content: '>';
  color: gray;
  transition: 1s;
}

.etiqueta-cerrar {
  font-size: 1.4rem;
  text-align: end;
  color: gray;
  user-select: none;
}

.etiqueta-cerrar::before {
  content: '</';
  color: gray;
  transition: 1s;
}

.etiqueta-cerrar::after {
  content: '>';
  color: gray;
  transition: 1s;
}


.etiqueta-abrir:hover::before {
  margin-right: 10px;
}

.etiqueta-abrir:hover::after {
  margin-left: 10px;
}

.ancho {
  width: 950px;
}

a {
  color: var(--color-terciario);
}

@media screen and (width <= 950px) {

  .ancho {
    width: 700px;
  }
  
}

@media screen and (width <= 768px) {

  .ancho {
    width: 650px;
  }
}

@media screen and (width <= 680px) {
  
  .ancho {
    width: 550px;
  }
}

@media screen and (width <= 600px) {

  .ancho {
    width: 350px;
  }

  .habilidades {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}